body,
html {
    margin: 0;
    padding: 0;
    background: #60a3bc !important;
}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
		  background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}

        a:hover{
            opacity: 0.6;
            text-decoration: none;
        }